<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rohit.kathaproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.zako.android.locationapi.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ResourceMappingActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.DashboardActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.VillagerWelcomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.DataCollectionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.InfrastructureCollectionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ResearcherModeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.DiscussionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PollingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CalendarActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.ActivitiesActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.TransectActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.AudioService"
            android:enabled="true"
            android:exported="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>